@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --font-poppins: "Poppins", sans-serif;

  --color-red-100: #ea5252;

  --color-gray-100: #F3F3F3;
  --color-gray-200: #363636;
  --color-gray-300: #707070;
  --color-gray-400: #3A3A3A;
  --color-gray-500: #808080;
  --color-gray-600: #00000045;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@theme {
  --breakpoint-*: initial;

  --breakpoint-xs: 40rem;
  --breakpoint-sm: 48rem;
  --breakpoint-md: 64rem;
  --breakpoint-lg: 80rem;
  --breakpoint-xl: 96rem;
  --breakpoint-2xl: 112rem;
}